{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wyszukiwarka pracy</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="search">
    <form method="POST" onsubmit="return isEmptyForm()">
        {% csrf_token %}
        <h1 class="title">WYSZUKIWARKA PRACY</h1>
        <div class="search-name">
            <label>
                <input type="text" class="search-name-label" name="search">
            </label>
            <input type="submit" class="search-button" value="Szukaj">
        </div>
        <br>
        <div class="search-place">
            <label>
                Miejsce:<br>
                <input type="text" name="place">
            </label>
        </div>
    </form>
</div>
<script type="text/javascript">
    function isEmptyForm()
    {
        if (document.getElementsByClassName("search-name-label")[0].value == "") {
            alert("Jeżeli mam ci pomóc znaleść pracę, to chcę chociaż wiedzieć czego szukasz!");
            return false;
        }
        return true;
    }
</script>
</body>
</html>